<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Naukri DDT Suite">
    <listeners>
        <listener class-name="com.automation.utils.ExtentListener" />
        <listener class-name="com.automation.utils.RetryListener" />
    </listeners>
    
    <test name="Login Functionality Tests">
        <classes>
            <class name="com.automation.test.LoginTest" />
            <class name="com.automation.test.JobSearchTest" />
            <class name="com.automation.test.FirstTest" />
        </classes>
    </test>
</suite>