<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Naukri_Regression_Suite">
    
    <parameter name="browser" value="Chrome"/> 
    
    <test name="Naukri_Functional_Tests">
        <classes>
            <class name="com.automation.test.LoginTest"/>
            
            <class name="com.automation.test.JobSearchTest"/> 
        </classes>
    </test>
    
</suite>